<ul class="row record">
	<li class="cell">{{ domain }}</li>
	<li class="cell">{{ date }}</li>
	<li class="cell">{{ expires }}</li>
	<li class="cell">{{ pragma }}</li>
	<li class="cell">{{ cache-control }}</li>
</ul>
